<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88696399302-k342n00vh88m6pvloc57561gevua3t3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88696399302-k342n00vh88m6pvloc57561gevua3t3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>88696399302-779skfq83trb3clf0as9k73dj3tstlts.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNipTfCf-hiN3p6EGclabqULqvejpK3wU</string>
	<key>GCM_SENDER_ID</key>
	<string>88696399302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enzo.xiumApp</string>
	<key>PROJECT_ID</key>
	<string>xium-app</string>
	<key>STORAGE_BUCKET</key>
	<string>xium-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88696399302:ios:d9eacc2c4b2f2373cdfec7</string>
</dict>
</plist>